
.Landing{
    background: black;
}

.landing-bg{
    background: url('../../../images/landscape.jpg') no-repeat center/cover;
    height: 100vh;
    filter: blur(3px) brightness(50%);
    
    
}
.landing-text{
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 20%;
    color: #fff;
    font-family: Georgia, serif;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
}
.text-two{
    width: 100%;
}
.version{
    position: absolute;
    z-index: 2;
    bottom: 2%;
    right: 2%;
    color: #fff;
}

